.container {
    padding: 0;
  }
  .profile,
  .cart {
    margin-left: 15px;
  }
  i.fas.fa-headset {
    margin-right: 10px;
    font-size: 35px;
  }
  
  footer h1 {
    font-size: 18px;
  }
  
  .input-group {
    width: 75%;
  }
  
  .logo {
    font-family: "Arial", sans-serif;
    font-size: 40px;
    color: #541212;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  footer h3 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  footer span,
  p {
    font-size: 19px;
  }
  #insta {
    color: transparent;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background: -webkit-radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 28px;
  }

  .cart-details{
    display: flex;
    justify-content: space-between;
  }
  .cart-item img{
    width: 40px;
    height: 40px;
  }

  .cart-total{
    display: flex;
    justify-content: space-between;
    margin: 15px;
  }
  .nav-link.active{
    border-bottom: 4px solid #541212;
  }
  /* carousel */
  .d-block {
    height: 700px;
  }

  .about-section{
    margin: 40px 0px;
    display: flex;
    background-color: whitesmoke;
  }

  .about-img{
    float: left;
    max-width: 50%;
    margin: 60px 0px 20px 50px;
  }

  .about-img img{
    width: 90%;
    height: 90%;
    border-radius: 0.5%;
  }

  .about-text{
    margin: 100px;
  }

  .about-text p{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
  }

  @media (max-width: 767px) {
    footer {
      text-align: center;
    }
  
    .col-sm-12 {
      align-items: center;
      border-bottom: 1px solid #000;
    }
  
    .d-flex {
      justify-content: center;
    }
    .input-group {
      justify-content: center;
    }

    .d-block {
      height: 500px;
    }

    .about-section{
      margin: 40px 0px;
      display: block;
    }


    .about-img{
      float: left;
      margin: 30px 0px 0px 30px;
      height: 400px;
      max-width: fit-content;
    }

    .about-img img{
      width: 90%;
      height: 90%;
      border-radius: 0.5%;
    }

    .about-text{
       margin: 10px 10px; 
      padding: 0px 0px 20px 0px;
    }
  
    .about-text p{
      font-size: medium;
    }
  }
  

  